body,html{
    height: 100%;
}

.input{
    height: 80%;
}

#programInput{
    height: 100%;
    width: 100%;
}

#programOutput{
    width: 100%;
    overflow-wrap: break-word;
}

#playButton{
    height: 50px;
    width: 50px;
}